{% extends "base.html" %} 
{% block title %}Update {% endblock %}
{% block body %} 

    <div class="headsec sticky">
        <div class="header">
            <div class="logo">
                <h2><a href="/">To do</a> </h2>
            </div>
            <div class="righthead">
                <ul>
                    <li class="right bodonhover">
                        <a href="/">Home</a>
                    </li>
                    <li class="right bodonhover">
                        <a href="/about">About</a>
                    </li>
                    <!-- <li class="right bodonhover">
                        <a href="/">Blog</a>
                    </li> -->
                    <!-- <li class="right bodonhover">
                        <a href="/portfolio/portfolio 2.0/template/contact.html">Contact Us</a>
                    </li> -->
                </ul>
                <!-- <div class="loginbtn">
                    <button class="btn" id="login">Login</button>
                    <button class="btn" id="signup">Signup</button>
                </div> -->
            </div>
        </div>
    </div>

    <div class="container mx-auto">
        <div class="content mx-auto">
            <p>Hello, We are community of developer named as Neha Rajawat, Predeep Singh, and Parth Saarthi.</p>
        </div>
    </div>


    <div class="loginfooter">
        <div class="loginfcontainer">
            Contact us on
            <a href="https://www.github.com/" target="_blank">
                <div class="fa fa-github pointer m-l bg"></div>
            </a>
            <a href="https://www.linkedin.com/" target="_blank">
                <div class="fa fa-linkedin pointer m-l bg"></div>
            </a>
            <a href="https://www.facebook.com/" target="_blank">
                <div class="fa fa-facebook pointer m-l bg"></div>
            </a>
        </div>
    </div>

{% endblock body %}